
@model PagedList.IPagedList<DemoTwitter.Models.Tweet>
@using PagedList.Mvc;
@using System.Web.Optimization
@{
    Layout = null;
}

<div class="tweetsbox col-md-8">
    <ol style="list-style: none">
        @foreach (var tweet in Model)
        {
            <li class="tweet">
                <div class="tweet-header">
                    <div class="tweetform-header">@tweet.PostDate</div>
                    <div class="tweet-edit dropdown">
                        <ul style="list-style: none;">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown disabled"><a href="#">Edit</a></li>
                                    <li><a href="#">Delete</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tweet-text">@tweet.Text</div>
            </li>
        }
    </ol>
    <div>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
    <div>@Html.PagedListPager(Model, page => Url.Action("Index", "User", new { page }))
    </div>
</div>
