@model DemoTwitter.Models.User
<!DOCTYPE html>

<html>
<head>
    <title>AddUser</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            {
            @Html.EditorFor(model => model.Username)
            @Html.EditorFor(model => model.Email)
            @Html.EditorFor(model => model.Password)
            @Html.EditorFor(model => model.FirstName)
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessage("Do not leave this space blank.")
            }
            <button type="submit">Save</button>
        }
    </div>
</body>
</html>
