@model PagedList.IPagedList<DemoTwitter.Models.User>
@using PagedList.Mvc;
<html>
<head>
    <title>Display all Users</title>


    @using System.Web.Optimization
    @{
        Layout = null;
    }

    @Styles.Render("~/Content/css/index.css")
    @Styles.Render("~/Content/css/tableStyle.css")

    <!DOCTYPE html>

    <html>
    <head>
        <title>Twitter</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body style="background: #f4f7f9">
        <div>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            @if (Session["UserFullName"] != null)
                            {<span>
                                Welcome, @Session["UserFullName"].ToString()
                            </span>
                            }
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index", "User")">Home</a></li>

                            <li><a href="#">Page 2</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>Options</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Update profile information</a></li>
                                    <li><a href=@Url.Action("All", "User")>Show all users</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href=@Url.Action("Logout", "User")><span class="glyphicon glyphicon-log-out"></span>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>


        <body>
            <div class="table-title">
            </div>
            <table class="table-fill">
                <thead>
                    <tr>
                        <th class="text-left">Email</th>
                        <th class="text-left">First Name</th>
                        <th class="text-left">Last Name</th>
                    </tr>
                </thead>

                <tbody class="table-hover">

                    @foreach (var element in Model)
                    {
                        <tr>
                            <td class="text-left">@element.Email</td>
                            <td class="text-left">@element.FirstName</td>
                            <td class="text-left">@element.LastName</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="pagination-my">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
            <div class="pagination-my">@Html.PagedListPager(Model, page => Url.Action("All", "User", new { page }))</div>
        </body>
    </body>
    </html>
