@model PagedList.IPagedList<DemoTwitter.Models.User>
@using PagedList.Mvc;

<!DOCTYPE html>
<html>
<head>
    <title>Twitter | All Users</title>

    @using System.Web.Optimization
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/index.css")
    @Styles.Render("~/Content/css/tableStyle.css")

    @Scripts.Render("~/Content/js/jquery.js")
    @Scripts.Render("~/Content/js/bootstrap.min.js")

</head>
<body style="background: #f4f7f9">
    <div class="container">
        <h4 class="text-center">All users</h4>

        <div class="col-md-12 input-group">
            @using (Html.BeginForm())
            {
                <div class="input-group">
                    @Html.TextBox("SearchString", null, new { @class = "form-control input-sm" })
                    <div class="input-group-btn">
                        <button class="btn btn-default" style="height: 30px;" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            }
        </div>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th class="text-left">Email</th>
                    <th class="text-left">First Name</th>
                    <th class="text-left">Last Name</th>
                    <th class="text-left">Action</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                @foreach (var currentUser in Model)
                {
                    <tr>
                        <td class="text-left">@currentUser.Email</td>
                        <td class="text-left">@currentUser.FirstName</td>
                        <td class="text-left">@currentUser.LastName</td>
                        <td class="text-center">
                            @if (!currentUser.IsFollowed)
                            {
                                if (currentUser.Id == (int)Session["UserID"])
                                {
                                <a class="btn btn-default disabled">Follow</a>
                                }
                                else
                                {
                                <a href="@Url.Action("Follow", "User", new { followedUserId = currentUser.Id })" class="btn btn-success">Follow</a>  
                                }
                            }
                            else
                            {
                                <a href="@Url.Action("UnFollow", "User", new { followedUserId = currentUser.Id })" class="btn btn-danger">Unfollow</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pagination-my">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
        <div class="pagination-my">@Html.PagedListPager(Model, page => Url.Action("All", "User", new { page }))</div>
    </div>
</body>
</html>
