@using System.Web.Optimization
@model DemoTwitter.Models.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css/bootstrap.min.css")
@Styles.Render("~/Content/css/index.css")
@Styles.Render("~/Content/css/login.css")

@Scripts.Render("~/Content/js/jquery.js")
@Scripts.Render("~/Content/js/bootstrap.min.js")

<!DOCTYPE html>
<html>
<head>
    <title>Twitter</title>.
</head>
<body style="background: #f4f7f9">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="panel-body">
                            <div class="row">
                                <div class="text-center">
                                    <h4>Edit profile details</h4>
                                </div>
                                @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @id = "register-form", @role = "form", @style = "display: block;" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Email, new { @name = "email", @tabindex = "2", @id = "email", @class = "form-control", @placeholder = "Email" })
                                        <div class="alert" style="color: red;">@Html.ValidationMessageFor(m => m.Email)</div>
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.Password, new { @name = "password", @tabindex = "3", @id = "password", @class = "form-control", @placeholder = "Password" })
                                        <div class="alert" style="color: red;">@Html.ValidationMessageFor(m => m.Password)</div>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.FirstName, new { @name = "lastname", @tabindex = "4", @id = "lastname", @class = "form-control", @placeholder = "First Name" })
                                        <div class="alert" style="color: red;">@Html.ValidationMessageFor(m => m.FirstName)</div>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.LastName, new { @name = "firstname", @tabindex = "5", @id = "firstname", @class = "form-control", @placeholder = "Last Name" })
                                        <div class="alert" style="color: red;">@Html.ValidationMessageFor(m => m.LastName)</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="6" class="form-control btn-login btn-register" value="Update">
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
