@using System.Web.Optimization
@model DemoTwitter.Models.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css/bootstrap.min.css")
@Styles.Render("~/Content/css/index.css")
@Styles.Render("~/Content/css/login.css")

@Scripts.Render("~/Content/js/jquery.js")
@Scripts.Render("~/Content/js/bootstrap.min.js")

<!DOCTYPE html>
<html>
<head>
    <title>Twitter</title>.
</head>
<body style="background: #f4f7f9">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="panel-body">
                            <div class="row">
                                <div class="text-center">
                                    <h4>Edit profile details</h4>
                                </div>
                                @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data", @id = "register-form", @role = "form", @style = "display: block;" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        @Html.HiddenFor(m => m.Id)
                                    </div>
                                    <div class="form-group">
                                        @Html.HiddenFor(m => m.Email)
                                    </div>
                                    
                                    <div class="form-group">
                                        @Html.HiddenFor(m => m.Username)
                                    </div>
                                    <div class="form-group">
                                        @Html.HiddenFor(m => m.Avatar)
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.FirstName, new { @name = "lastname", @tabindex = "4", @id = "lastname", @class = "form-control", @placeholder = @Model.LastName })
                                        <div class="alert" style="color: red;">@Html.ValidationMessageFor(m => m.FirstName)</div>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.LastName, new {@name = "firstname", @tabindex = "5", @id = "firstname", @class = "form-control", @placeholder = @Model.FirstName})
                                        <div class="alert" style="color: red;">@Html.ValidationMessageFor(m => m.LastName)</div>
                                    </div>
                                    <div class="form-group">
                                        <p>Re-Enter your current password</p>
                                        @Html.TextBoxFor(m => m.Password, new {@name = "password", @tabindex = "6", @type = "password", @id = "password", @class = "form-control", @placeholder = "Current password"})
                                        <div class="alert" style="color: red;">@Html.ValidationMessageFor(m => m.Password)</div>
                                    </div>
                                    <div class="form-group">
                                        @Model.Email
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="7" class="form-control btn-login btn-register" value="Update">
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
