@using System.Web.Optimization
@model DemoTwitter.Models.Tweet

@{
    Layout = null;
}
@Scripts.Render("~/Content/js/jquery.js")
@Scripts.Render("~/Content/js/bootstrap.min.js")

@Styles.Render("~/Content/css/bootstrap.min.css")
@Styles.Render("~/Content/css/index.css")

<!DOCTYPE html>

<html>
<head>
    <title>Twitter</title>
</head>
<body style="background: #f4f7f9">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                @if (Session["UserFullName"] != null)
                {<span>
                 Welcome, @Session["UserFullName"].ToString()
                </span>
                }
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("Index", "User")">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>Options</a>
                    <ul class="dropdown-menu">
                        <li><a href=@Url.Action("ShowAllUsers", "User")>Show all users</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href=@Url.Action("Logout", "User")><span class="glyphicon glyphicon-log-out"></span>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="tweetform-container col-md-8">
        <ol style="list-style: none">
            <li>
                @using (Html.BeginForm("Index", "Tweet", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                    {
                    @Html.TextAreaFor(model => model.Text, new { @placeholder = "What's on your mind...", @class = "form-control tweet-textarea", @style = "max-width: 1090px", @maxlength = 140, @required = true })
                    }
                    
                    <input type="submit" name="login-submit" id="login-submit" class="btn post-btn" value="Post" />
                }
            </li>
        </ol>
    </div>
    @{Html.RenderAction("AllTweets", "Tweet");}
</body>
</html>
