@using System.Web.Optimization
@model DemoTwitter.Models.Tweet

@{
    Layout = null;
}


@Styles.Render("~/Content/css/bootstrap.css")

<!DOCTYPE html>

<html>
<head>
    <title>Twitter</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        @if (Session["UserFullName"] != null)
                        {<span>
                                Welcome, @Session["UserFullName"].ToString()
                        </span>
                        }
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>

                        <li><a href="#">Page 2</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Options</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Update profile information</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>

        @using (Html.BeginForm("Index", "Tweet", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            {
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Text, new { @placeholder = "What's on your mind...", @class = "form-control", @required = true })
                <div class="alert">@Html.ValidationMessageFor(m => m.Text)</div>
            </div>
            }
            <input type="submit" name="login-submit" id="login-submit" class="btn" value="Post" />
        }
    </div>
</body>
</html>
