@using System.Web.Optimization
@using System.Web.UI.WebControls
@model DemoTwitter.Models.Tweet

@{
    Layout = null;
}


@Styles.Render("~/Content/css/bootstrap.css")

<!DOCTYPE html>

<html>
<head>
    <title>Twitter</title>
</head>
<body>
<div>
    <br/>
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            @if (Session["UserFullName"] != null)
            {
                <div class="breadcrumb">
                    Welcome @Session["UserFullName"].ToString()
                </div>
            }
        </div>
    </nav>
</div>
    <div>
        <p>What's on your mind...</p>
        @using (Html.BeginForm("Index", "Tweet", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            {
            <div class="form-group">
                @Html.TextAreaFor(model => model.Text, new {@placeholder = "Say sometring..."})
                <div class="alert">@Html.ValidationMessageFor(m => m.Text)</div>
            </div>
            }
            <input type="submit" name="login-submit" id="login-submit" class="btn" value="Post" />
        }
    </div>
</body>
</html>
