@model DemoTwitter.Models.User
<!DOCTYPE html>

<html>
<head>
    <title>Register</title>
    <h3>Register</h3>
</head>
<body>
    <div>
        @using (Html.BeginForm("Register", "User", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            {     <table>
                <tr>
                    <tr>
                        <td>@Html.TextBoxFor(model => model.Username, new { placeholder = "Username" })
                        </td>
                        <td>@Html.ValidationMessageFor(m => m.Username)</td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(model => model.Email, new { placeholder = "Email" })
                        </td>
                        <td>@Html.ValidationMessageFor(m => m.Email) </td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(model => model.Password, new { placeholder = "Password" })
                        </td>
                        <td>@Html.ValidationMessageFor(m => m.Password)</td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name" })
                        </td>
                        <td>@Html.ValidationMessageFor(m => m.FirstName) </td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name" })
                        </td>
                        <td>@Html.ValidationMessageFor(m => m.LastName) </td>
                    </tr>
                    <tr>
                    </tr>
                </tr>
            </table>
            } 
            <button type="submit">Register</button>
        }

    </div>

</body>
</html>
