@model DemoTwitter.Models.User
<!DOCTYPE html>

<html>
<head>
    <title>Register</title>
    <H3>Register</H3>
    </head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            {     <table>
                <tr>
                    <tr>
                        <td>@Html.TextBoxFor(model => model.Username, new { placeholder = "Username" })      </td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(model => model.Email, new { placeholder = "Email" })            </td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(model => model.Password, new { placeholder = "Password" })      </td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name" })   </td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name" })     </td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessage("Do not leave this space blank.")                        </td>
                    </tr>
                </tr>
            </table>
            } 
            <button type="submit">Register</button>
        }

    </div>

</body>
</html>
